<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>重置密码链接</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #007bff;
            text-align: center;
        }
        p {
            font-size: 18px;
            margin: 20px 0;
        }
        .bn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .bn:hover {
            background-color: #0056b3;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            color: #666;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>重置密码</h1>

    <p>
        您收到这封邮件是因为您或其他人请求了重置密码。请点击下面的链接来重置您的密码：
    </p>
    <p>
        <a class="bn" href="http://localhost:8080/api/auth/verify/reset_pwd/{{ .Token }}/active/{{ .Email }}">
            点击此处重置密码
        </a>
    </p>

    <p>
        如果您无法点击上述链接，请在24小时内将以下链接复制并粘贴到您的浏览器地址栏中：
        <br>
        <a>http://localhost:8080/api/auth/verify/reset_pwd/{{ .Token }}/active/{{ .Email }}</a>
    </p>

    <p>
        如果您未请求密码重置，请忽略此邮件。
    </p>
</div>
<div class="footer">
    &copy; 2023 Blog App
</div>
</body>
</html>
